<section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">About Us</h2>
            <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="/Content/images/about.jpg" alt="">
            </div>
            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">Our Hotel</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam adipiscing elit. Praesent eget risus vitae massa.Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                <ul class="listarrow">
                    <li><i class="fa fa-angle-double-right"></i>Room Service</li>
                    <li><i class="fa fa-angle-double-right"></i>Direct Dailing Facility</li>
                    <li><i class="fa fa-angle-double-right"></i>Laundry Service</li>
                    <li><i class="fa fa-angle-double-right"></i>Travel Assistance</li>
                    <li><i class="fa fa-angle-double-right"></i>Bar & Restaurant</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#about-->
