@model IEnumerable<MVCOtel_2.Models.SliderModel>
<section class="demo-2">
    <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="sl-slide-inner">
                        <div class="bg-img" style="background:url('/Content/slider/@item.ResimYolu') no-repeat; background-size:cover;">

                        </div>

                    </div>
                </div>
            }
        }

            


        </div><!-- /sl-slider -->
        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
        </nav>
    </div><!-- /slider-wrapper -->
</section><!--/#main-slider-->
