<section class="testimonial-area" id="testimonial">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">What our clients says</h2>
            <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote>Sontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="/Content/images/pic1.jpg" alt="client">
                        </div>
                        <div class="col-xs-9 half-gutter">
                            <h5>John Bond</h5>
                            <h6>Lorem Ipsuis simply</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote>Tontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="/Content/images/pic2.jpg" alt="client">
                        </div>
                        <div class="col-xs-9 half-gutter">
                            <h5>John Bond</h5>
                            <h6>Lorem Ipsuis simply</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote>Aontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="/Content/images/pic1.jpg" alt="client">
                        </div>
                        <div class="col-xs-9 half-gutter">
                            <h5>John Bond</h5>
                            <h6>Lorem Ipsuis simply</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>